<app-header></app-header>
  <form [formGroup]="registerForm" novalidate class="regform">
    <div class="col">
        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Username
                </mat-label>
                <input type="username" #username matInput formControlName="username" placeholder="xyz">
                <mat-error *ngIf="registerForm.controls['username'].hasError('required')">
                    Username is <strong>required</strong>
                </mat-error>
            </mat-form-field>

        </div>
        <div class="row">
            <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" #password matInput formControlName="password">
                <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                    password is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <button type="submit" mat-raised-button (click)="register(registerForm.value)">Register</button>
  </form>

